.main__carousel-wrapper {
  position: relative;
  padding: 3vw 5rem 5vw 5rem;
  background-color: #263a49;
}

.main__carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 3rem;

  opacity: 0.5;
  fill: #fff;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &--prev {
    left: 1rem;
  }

  &--next {
    right: 1rem;
  }
}

.main__carousel-slider {
  overflow: hidden;
}

.main__carousel-slides {
  display: flex;
  justify-content: space-between;

  transition: transform 0.5s;
}

.main__carousel-card {
  position: relative;

  margin: 0;
  padding: 0 0.5rem;
  color: white;

  img {
    opacity: 0.3;
  }
}

.main__carousel-card-description {
  position: absolute;
  bottom: 0;
  padding: 0 0.5rem;

  font-size: 0.9rem;
  line-height: 1.25em;

  p {
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 578px) {
  .main__carousel-wrapper {
    padding: 3vw 3vw 2.5rem 3vw;
  }

  .main__carousel-control {
    display: none;
  }
}
