@import "./variables";
@import "./menu";
@import "newArrivals";

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Regular.ttf");
}

body {
  font-family: "Red Hat Display", Arial, sans-serif;
}

svg {
  fill: $svg-color;
}
